attrs==22.2.0
bertopic==0.14.1
brotlipy==0.7.0
ConfigParser==6.0.0
cryptography==37.0.1
Cython==0.29.32
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
HTMLParser==0.0.2
importlib_metadata==6.0.0
ipython==8.11.0
ipywidgets==8.0.4
Jinja2==3.1.2
jnius==1.1.0
keyring==23.13.1
lockfile==0.12.2
lxml==4.9.1
numpy==1.21.6
ordereddict==1.1
pandas==1.4.4
Pillow==9.2.0
Pillow==10.0.1
protobuf==3.20.3
pyOpenSSL==22.0.0
pyOpenSSL==23.2.0
railroad==0.5.0
Sphinx==5.0.2
toml==0.10.2
tornado==6.2
xmlrpclib==1.0.1
zipp==3.15.0
